
$primary: #1E1E1E;
$secondary : #FF9D4E;

* {
    font-family: 'Andale Mono'; 
}

::placeholder {

    color: $secondary;
    opacity: 0.8;
} 

.table {
    color: $secondary!important;
}

.widthList {
    width: 80%!important;
    height: 60vh!important;
    
    overflow-y: scroll;
}

.widthForm {
    width: 40%!important;
    max-width: 35%;
}