{% extends 'base.html.twig' %}

{% block title %}Edit Resident{% endblock %}

{% block body %}
    	<div class="text-center">
		<h1>Modifier {{ resident.firstname }}
			{{ resident.lastname }}</h1>

	</div>

    {{ include('resident/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
