{% extends 'base.html.twig' %}

{% block title %}Residents
{% endblock %}

{% block body %}
<div class="text-center">
	<h1>Residents</h1>
</div>

	<div class="container-fluid pt-5">
		<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 border border-secondary rounded-0 w-25 mx-auto" tabindex="0">
			{% for resident in residents %}
				<a class="mt-1 btn btn-primary text-secondary d-flex" href="{{ path('app_resident_show', {'id': resident.id}) }}">
					<div>{{ resident.firstname }}
						{{ resident.lastname }}</div>
				</a>
			{% else %}

				<div colspan="5">Aucun résident dans votre bunker</div>

			{% endfor %}
		</div>
	</div>
</div>
<div class="text-center">
<a class="mt-3 btn btn-primary border border-secondary text-secondary rounded-0" href="{{ path('app_resident_new') }}">Ajouter</a>
</div>
{% endblock %}

