{% extends 'base.html.twig' %}

{% block title %}New Resident{% endblock %}

{% block body %}
<div class="text-center pt-3">
    <h1>Ajouter Resident</h1>
</div>

    {{ include('resident/_form.html.twig') }}

{% endblock %}
